<h2 class="page-header"><i class="fa fa-image"></i> <%= @title %></h2>
<p>ანძა #<code><%= @tower.name %></code> <span class="text-muted"><%= @tower.linename %></span></p>
<%= form_tag request.url, multipart: true do %>
  <div class="form-group">
    <label>აარჩიეთ ფაილი:</label>
    <%=file_field_tag 'data'%>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">შენახვა</button>
    <%=link_to 'გაუქმება', objects_tower_url(id: @tower.id), class: ['btn','btn-default']%>
  </div>
<% end %>