<h2 class="page-header"><%= @title %></h2>

<% unless params[:status] == 'ok' %>
  <div class="text-muted" style="margin-bottom:16px;">
    გადამცემი ხაზების შესახებ ინფორმაცია უნდა იყოს მოცემული <code>XLSX</code> ან
    <code>KML</code> <!--ან <code>XLSX</code--> ფაილის სახით.
  </div>

  <%=form_tag request.url, multipart: true do%>
    <div class="form-group">
      <label>აარჩიეთ ფაილი:</label>
      <%=file_field_tag 'data'%>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">შენახვა</button>
      <%=link_to 'გაუმება', objects_path_lines_url, class:['btn','btn-default']%>
    </div>
  <%end%>
<% else %>
  <%= render partial: 'layouts/current_jobs' %>
<% end %>