<h3 class="page-header">
  <%= @title %>
</h3>
<div class="row">
  <div class="col-sm-4">
    <% if @error.present? %> <div class="alert alert-danger"><%=@error%></div> <%end%>
    <%= form_tag request.url do %>
      <div class="form-group">
        <%= label_tag :password_old, 'ძველი პაროლი' %>
        <%= password_field_tag :password_old, params[:password_old], autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :password, 'ახალი პაროლი' %>
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :password_confirmation, 'დაადასტურეთ ახალი პაროლი' %>
        <%= password_field_tag :password_confirmation, params[:password_confirmation], class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag 'პაროლის შეცვლა', class: ['btn', 'btn-primary'] %>
        <%= link_to 'გაუქმება', account_profile_url, class: ['btn', 'btn-default'] %>
      </div>
    <% end %>
  </div>
</div>