<h3 class="page-header">
  <i class="fa fa-image"></i>
  <%= @title %>
</h3>
<% if params[:status] == 'ok' %>
  <div class="alert alert-success alert-block">
    <p>
      გამოსახულებების გენერაციის დავალება გაცემულია.
      შეამოწმეთ სტატუსი <strong>მიმდინარე დავალებებში</strong>.
    </p>
    <hr />
    <p>
      <a class="btn btn-default btn-sm" href="<%= objects_generate_images_url %>">
        <i class="fa fa-arrow-left"></i> ყველა გენერაცია
      </a>
      <a href="/sidekiq/busy" class="btn btn-info btn-sm" target="sidekiq">
        <i class="fa fa-clock-o"></i> მიმდინარე დავალებები
      </a>
    </p>
  </div>
<% else %>
  <p>
    გამოსახულების ატვირთვა ხდება შემდეგი დირექტორიიდან:
    <code><%= @root %></code>
  </p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>დირექტორია</th>
        <th class="text-center" width="150"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <% if @dirs.any? %>
      <% @dirs.each do |dir| %>
        <tr>
          <td>
            <%
              criteria = Objects::Tower.where(linename: dir.to_ka(:all))
              total_count = criteria.count
              without_image_count = 0 ; with_image_count = 0 ; found = total_count > 0
              if found
                without_image_count = criteria.where(images: []).count
                with_image_count = total_count - without_image_count
              end
            %>
            <code>/<strong><%= dir %></strong></code>
            &rarr;
            <span class="text-muted">
              <% if found %>
                <span class="label label-success">
                  <i class="fa fa-check"></i> ნაპოვნია
                </span> &nbsp;&nbsp;
                სულ <code><%= total_count %></code> ანძა
                <code>=</code> <code><%= with_image_count %></code> გამოსახულებით
                + <code><%= without_image_count %></code> გამოსახულების გარეშე
              <% else %>
                <span class="label label-danger">
                  <i class="fa fa-times"></i> ვერ მოიძებნა
                </span>
              <% end %>
            </span>
          </td>
          <td class="text-center">
            <%= link_to 'გენერაცია &rarr;'.html_safe, objects_generate_images_url(dir: dir), data: {confirm: 'ნამდვილად გინდათ გამოსახულებების გენერაცია?', method: 'post' }, class: ['btn', 'btn-danger', 'btn-xs', 'generate-images'] %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2" class="text-center" style="padding: 32px; background: #eee; color: #aaa;">
          დირექტორია <code><%= @root %></code> ცარიელია! გთხოვთ დაამატოთ მასში ფაილები.
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<script type="text/javascript">
$(function() {
  $('.generate-images').click(function(event) {
    var $this = $(this);
    $this.toggleClass('disabled', true);
    $this.text('იგზავნება...');
    $.post($(this).attr('href'), function(resp, textStatus, xhr) {
      if (xhr.status === 200) {
        $this.toggleClass('btn-danger', false);
        $this.toggleClass('btn-success', true);
        $this.text('გაიგზავნა');
      } else {
        $this.text('შეცდომა: ' + xhr.status);
      }
    }).fail(function() {
      $this.text('მოულოდნელი შეცდომა');
    });
    return false;
  });
});
</script>