<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>მომხმარებელი</th>
      <th>დავალება</th>
      <th>დასაწყისი</th>
      <th>ბოლო</th>
      <th>წერტილები</th>
    </tr>
  </thead>
  <tbody>
    <% if tracks.any? %>
      <% tracks.each do |track| %>
        <tr>
          <td>
            <img src="/icons/user.png"/>
            <strong><%= track.user.username %></strong>
            (<span class="text-muted"><%= track.user.full_name %></span>)
          </td>
          <td>
            <% if track.task %>
              <img src="<%= track.task.status_icon %>"/>
              #<code><%= link_to track.task.number, tasks_task_url(id: track.task.id), data: {'no-turbolink' => true} %></code>
            <% else %>
              <span class="text-muted">(ცარიელი)</span>
            <% end %>
          </td>
          <td>
            <img src="<%= track.open ? '/icons/clock.png' : '/icons/tick.png' %>"/>
            <%= track.created_at.localtime.strftime('%d-%b-%Y %H:%M:%S') %>
          </td>
          <td><%= track.updated_at.localtime.strftime('%d-%b-%Y %H:%M:%S') %></td>
          <td><code><%= track.points.count%></code> <%= link_to 'წერტილი', tasks_tracking_track_url(id: track.id), data: {'no-turbolink' => true} %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" style="padding:32px; text-align: center; background: #eee;">no-data</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate tracks if tracks.respond_to?(:total_pages) %>