<h2 class="page-header">
  <code><%= @user.username %></code>
  <%= @user.full_name %>
</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>მომხმარებელი</th>
      <th width="16">?</th>
      <th>დასაწყისი</th>
      <th>ბოლო</th>
      <th>წერტილები</th>
    </tr>
  </thead>
  <tbody>
    <% if @tracks.any? %>
      <% @tracks.each do |track| %>
        <tr>
          <td>
            <img src="/icons/user.png"/>
            <strong><%= track.user.username %></strong>
            <%= track.user.full_name %>
          </td>
          <td>
            <img src="<%= track.open ? '/icons/clock.png' : '/icons/tick.png' %>"/>
          </td>
          <td><%= track.created_at.localtime.strftime('%d-%b-%Y %H:%M:%S') %></td>
          <td><%= track.updated_at.localtime.strftime('%d-%b-%Y %H:%M:%S') %></td>
          <td><code><%= track.points.count%></code> <%= link_to 'წერტილი', tasks_tracking_track_url(id: track.id), data: {'no-turbolink' => true} %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" style="padding:32px; text-align: center; background: #eee;">no-data</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tracks %>