<%if current_user%>
<div>
  <p style="padding-top: 48px;" class="text-center">
    <a class="btn btn-warning btn-lg" href="<%=objects_map_editor_url%>" data-no-turbolink>
      <i class="fa fa-pencil"></i> რუკაზე ობიექტების რედაქტირება
    </a>
  </p>
</div>
<div class="row">
  <div class="col-sm-6">
    <div>
      <div class="page-header">
        <div class="pull-right">
          <span class="label label-info">ღია</span>
          <span class="label label-danger">სულ</span>
        </div>
        <h3>დავალებები</h3>
      </div>
      <p>
        <%= link_to 'დავალებები', tasks_open_url %>
        <span class="label label-info"><%=Task.open_tasks.count%></span>
        <span class="label label-danger"><%=Task.count%></span>
      </p>
      <p>
        <%=link_to 'მომხმარებელთა ტრეკინგი', tasks_tracking_url, data: { 'no-turbolink' => true }%>
        <span class="label label-info"><%=Tracking::Path.open_tracks.count%></span>
        <span class="label label-danger"><%=Tracking::Path.count%></span>
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <div class="page-header">
        <h3>რეგიონები</h3>
      </div>
      <p>
        <%=link_to 'რეგიონების მართვა', regions_url%>
        <span class="label label-info"><%=Region.count%></span>
      </p>
      <h3 class="page-header">ობიექტები</h3>
      <div class="row">
        <div class="col-xs-6">
          <p>
            <%=link_to 'ოფისები', objects_offices_url%>
            <span class="label label-info"><%=Objects::Office.count%></span>
          </p>
          <p>
            <%=link_to 'ქვესადგურები', objects_substations_url%>
            <span class="label label-info"><%=Objects::Substation.count%></span>
          </p>
          <p>
            <%=link_to 'ანძები', objects_towers_url%>
            <span class="label label-info"><%=Objects::Tower.count%></span>
          </p>
        </div>
        <div class="col-xs-6">
          <p>
            <%=link_to 'გადამცემი ხაზები', objects_lines_url%>
            <span class="label label-info"><%=Objects::Line.count%></span>
          </p>
          <p>
            <%= link_to 'მარშუტები', objects_path_lines_url%>
            <span class="label label-info"><%=Objects::Path::Line.count%></span>
          </p>
        </div>
      </div>
    </div>
    <div>
      <h3 class="page-header">პარამეტრები</h3>
      <p>
        <%=link_to 'გზის სახეობები', objects_path_types_url %>
        <span class="label label-info"><%=Objects::Path::Type.count%></span>
      </p>
      <p>
        <%=link_to 'გზის საფარი', objects_path_surfaces_url %>
        <span class="label label-info"><%=Objects::Path::Surface.count%></span>
      </p>
      <p>
        <%=link_to 'საფარის დეტალები', objects_path_details_url %>
        <span class="label label-info"><%=Objects::Path::Detail.count%></span>
      </p>
    </div>
  </div>
</div>
<%else%>
<div class="well">
  პროგრამაში სამუშაოდ, გაიარეთ <%=link_to 'ავტორიზაცია', login_url%>.
</div>
<%end%>