<%if current_user%>
<div class="row">
  <!-- main column -->
  <div class="col-sm-6">
    <h3 class="page-header">
      <i class="fa fa-road"></i>
      გზების მართვა
    </h3>
      <a class="btn btn-default" href="<%=geo_map_url%>" data-no-turbolink>
        <i class="fa fa-pencil"></i> გზების შეცვლა
      </a> |
      <%=link_to 'გზის სახეობები', geo_path_types_url %> |
      <%=link_to 'გზის საფარი', geo_path_surfaces_url %> |
      <%=link_to 'გზის დეტალები', geo_path_details_url %>
  </div>

</div>
<%else%>
<div class="well">
  პროგრამაში სამუშაოდ, გაიარეთ <%=link_to 'ავტორიზაცია', login_url%>.
</div>
<%end%>