<h2 class="page-header"><%=@title%></h2>
<%=form_tag request.url do%>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <p class="form-control-static">
        <img src="/icons/user.png"/> <code><%=@user.username%></code> <%=@user.full_name%>
      </p>
    </div>
    <div class="form-group">
      <%=label_tag 'role_id', t('models.sys_role._model_name')%>
      <%=select_tag 'role_id', options_from_collection_for_select(Sys::Role.asc(:name), 'id', 'name') %>
    </div>
    <div class="form-group">
      <%=submit_tag t('models.general._actions.save'), class:['btn','btn-primary']%>
      <%=link_to t('models.general._actions.cancel'), admin_user_url(id:@user.id, tab:'roles'), class:['btn','btn-default']%>
    </div>
  </div>
</div>
<%end%>