<div id="userbox" style="padding: 16px 0; margin-bottom: 16px; text-align: right; border-bottom: 1px solid #ddd;">
  <%if current_user.present?%>
  <span class="text-muted"><%=current_user.full_name%></span>
  <span class="label label-info"><i class="fa fa-user"></i> <%=current_user.username%></span>
  <%= link_to t('pages.account_profile.index.action'), account_profile_url%> |
  <%= link_to t('pages.site.logout.action'), logout_url, data: { confirm: t('pages.site.logout.action_confirm') } %>
  <%else%>
  <i class="fa fa-user"></i>
  <span class="text-muted"><%= t('pages.application.layout.not-authenticated') %></span> |
  <%=link_to t('pages.site.login.action'), login_url %>
  <%end%>
</div>