<!DOCTYPE html>
<html>
<head>
<meta name="Author" content="Dimitri Kurashvili <dimakura@gmail.com>">
<meta name="Keywords" content="GSE,Electricity,Maps,GIS,Android,Mobile">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%if @title.present?%><%=@title%> &mdash; <%end%>pathfinder</title>
<%= favicon_link_tag('/favicon.png') %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<%=yield%>
</body>
</html>